<div class="detail">
  <h2>Movie Details</h2>
  <h2>{{movie.title | uppercase}}</h2>
  <div class="input"><span>Description: </span>{{movie.description}}</div>
  <div class="input"><span>Avg. Rating: </span>{{movie.avgRating}}</div>
  <div class="input">
    <label>My Rating:
      <input type="number" min="0" max="5" [(ngModel)]="movie.myRating"/>
    </label>
  </div>
  <div class="input">
    <label>Comments:
      <input [(ngModel)]="movie.comments" placeholder="about movie"/>
    </label>
  </div>
  <button class="detailButton" (click)="goBack()">Go back</button>
  <button class="detailButton" (click)="save()">Save changes</button>
</div>

