.logout {
  text-align: right;
  width: 100%
}
.logoutButton {
  border-color: transparent;
  width: 100px;
}
.admin {
  text-align: center;
}
.input {
  margin: 20px 0;
}
.addButton {
  border-color: transparent;
  width: 100px;
}
.movies ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15em;
}
.movies li {
  display: inline-block;
  width: 20%;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em;
  height: 1.6em;
  border-radius: 4px;
}
.movies li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.movies li.selected {
  background-color: #CFD8DC;
  color: white;
}
.movies li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.movies .movie {
  color: inherit;
  text-decoration: none;
}
